body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    color: white;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    filter: blur(15px);
    opacity: 0.1;
    animation: floatBackground 30s linear infinite;
}

@keyframes floatBackground {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.container {
    text-align: center;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.header {
    font-size: 4em;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-name {
    font-size: 1.5em;
}

.coin-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.coin-icon {
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: transform 0.2s ease;
}

.coin-icon:active {
    transform: scale(0.9);
}

.trx-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: rotate 2s linear infinite;
}

.coin-icon::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px white;
    z-index: -1;
    animation: pulse 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 20px 5px white;
    }
    50% {
        box-shadow: 0 0 30px 10px white;
    }
}

#animation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.coin-animation {
    position: absolute;
    font-size: 20px;
    color: white;
    animation: float-up 1s ease-in-out;
}

@keyframes float-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

#energy-display {
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.energy-bar {
    width: 80%;
    height: 30px;
    border: 2px solid white;
    margin: 10px auto;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.energy-progress {
    height: 100%;
    background-color: #00ff00;
    width: 100%;
    transition: width 0.5s ease;
}

.shop-button {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}

.shop-button img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.shop-button img:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.modal-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 900;
}

.modal-content .shop-item {
    margin-bottom: 20px;
}

.modal-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #00ff00;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 10px;
}

.modal-content button:hover {
    background-color: #00cc00;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2em;
    cursor: pointer;
    color: white;
}
